/*----------------*/
/*   INDEX PAGE   */
/*----------------*/



/*---------------------*/
/*   BODY LAYOUT CSS   */
/*---------------------*/
.col {
    margin: 0;
    padding: 0;
    flex: 50%;
}

.times {
    margin: 0 auto;
    max-width: 80%;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 1px solid #000033;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}

    .times .col p:not(:first-child) {
        font-size: 12px;
        font-style: italic;
    }

    .times .row:not(:first-child) {
        border-top: 1px solid #000033;
    }

    .times .empty {
        background-color: #315b87;
    }

.times_header {
    font-size: 16px;
    background-color: #315479!important;
}



/*-----------*/
/*  COLOURS  */
/*-----------*/
.times .row:nth-child(even) {
    background-color: #4573a3;
}

.times .row:nth-child(odd) {
    background-color: #5480ac;
}

/*-------------------*/
/*   SLIDESHOW CSS   */
/*-------------------*/
.slideshow {
    margin: 20px auto;
    padding: 0;
    position: relative;
    max-width: 678px;
    overflow: hidden;
}

    .slideshow img {
        width: 100%;
    }

.slide {
    animation: slideIt 1s ease-out 0s 1 normal none;
}

@keyframes slideIt {
    0% {
        opacity: .5;
        transform: translateX(750px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



/*--------------------*/
/*   @MEDIA QUERIES   */
/*--------------------*/
@media (max-width: 700px) {
    /* Layout Changes */
    .times {}

        .times .row:nth-child(odd) {
            background-color: #4573a3;
        }

        .times .row:nth-child(even) {
            background-color: #315b87;
        }

    .mobile_header {
        font-weight: bold;
    }

    .times_header {
        /* display: none; */
    }
}