/*-----------------*/
/*   MASTER FILE   */
/*-----------------*/

/* Styles affecting elements */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #ffffff;
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
}

h1, h2 {
    font-weight: bold;
}

h3, h4, h5 {
    font-weight: normal;
}

a, a:visited, a:link {
    color: #336699;
}

    a:hover {
        color: #000033;
    }



/*----------------*/
/*   HEADER CSS   */
/*----------------*/
.header {
    margin: 0;
    padding: 10px;
    background: #336699;
    text-align: center;
    color: #ffffff;
}

/* Title */
.title {
    margin: 1%;
    float: right;
}

    .title img {
        width: 110px;
    }

.header h1 {
    font-size: 28px;
}

.header h5 {
    font-size: 14px;
}

/* Base Navigation */
.navbar {
    display: flex;
    background: #336699;
}

    .navbar a {
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
    }

        .navbar a:hover {
            background-color: #afd3f7;
            color: #000033;
        }

    .navbar .active {
        background-color: #afd3f7;
        color: #000033;
    }

/* Mobile Navigation */
#nav_btn {
    display: none;
}

.menu_icon > .line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fbfbfb;
}

.menu_icon > .line + .line {
    margin-top: 8px;
}



/*---------------------*/
/*   BODY LAYOUT CSS   */
/*---------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    margin: 0;
    padding: 0;
    position: relative;
    flex: 100%;
}

    .main h2 {
        font-size: 24px;
        text-align: center;
    }

    .main p {
        font-size: 14px;
    }

.main2 {
    flex: 70%!important;
}

.sub {
    flex: 30%!important;
}

.padder {
    padding: 1% 20% 4% 20%;
}

.spacer {
    margin: 30px auto;
}

.page_icon {
    width: 50px;
    height: 50px;
}

.images_horizontal {
    display: flex;
    margin: 0 auto;
    margin-top: 5%;
    padding: 0;
    max-width: 540px;
    text-align: center;
    flex-wrap: wrap;
}

    .images_horizontal > div {
        flex: 25%;
    }



/*--------------*/
/*   FORM CSS   */
/*--------------*/
input[type=text], select {
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

input[type=submit] {
    cursor: pointer;
    margin: 8px 0;
    padding: 14px 20px;
    width: 100%;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #DDD;
    color: #333;
}

    input[type=submit]:hover {
        background-color: #afd3f7;
        color: #333;
    }

textarea {
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
    height: 100px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

form {
    margin: 0 auto;
    width: 600px;
    text-align: left;
}



/*-------------------*/
/*  SKEWs & COLOURS  */
/*-------------------*/
.colour {
    background-color: #336699;
    color: #ffffff;
}

    .colour a, .colour a:link, .colour a:visited {
        color: #ffffff;
    }

        .colour a:hover {
            color: #afd3f7;
        }

.white {
    background-color: #ffffff;
    color: #336699;
}


/* Skew Clockwise */
.skew-c {
    left: 0;
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(to left bottom, #fff 49%, #336699 50%);
}

/* Skew Counter Clockwise */
.skew-cc {
    left: 0;
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right bottom, #336699 49%, #fff 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}



/*----------------*/
/*   FOOTER CSS   */
/*----------------*/
.footer {
    margin-top: auto;
    font-size: 14px;
    text-align: center;
}

    .footer h4 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12px;
        font-style: italic;
    }

    .footer img {
        height: 50px;
    }

/* Layout */
.footer_main {
    flex: 70%;
    padding: 20px;
}

.footer_side {
    flex: 30%;
    padding: 20px;
}



/*-------------------*/
/*   SLIDESHOW CSS   */
/*-------------------*/
.slideshow {
    margin: 20px auto;
    padding: 0;
    position: relative;
    max-width: 678px;
    overflow: hidden;
}

    .slideshow img {
        width: 100%;
    }

.slide {
    animation: slideIt 1s ease-out 0s 1 normal none;
}

@keyframes slideIt {
    0% {
        opacity: .5;
        transform: translateX(750px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



/*--------------------*/
/*   @MEDIA QUERIES   */
/*--------------------*/
@media (max-width: 920px)
{
    .images_horizontal {
        max-width: 270px!important;
    }

        .images_horizontal > div {
            flex: 50%;
        }

    form {
        width: 450px;
    }
}

@media (max-width: 700px) {
    /* Navigation */
    .navbar a {
        display: none;
    }

    #nav_btn {
        display: block;
    }

    .row, .navbar, .images_horizontal {
        flex-direction: column;
    }

    .padder {
        padding: 6% 20%;
    }

    .images_horizontal {
        max-width: 133px !important;
    }

        .images_horizontal > div {
            flex: 100%;
        }

    form {
        width: 300px;
    }
}

@media (min-width: 701px) {
    /* Navigation */
    .navbar a {
        display: block;
    }

    #nav_btn {
        display: none;
    }

    .row, .navbar {
        flex-direction: row;
    }
}




/*--------------*/
/*   MISC CSS   */
/*--------------*/
.fake_image {
    margin: 5px;
    padding: 0;
    position: relative;
    width: 125px;
    min-width: 125px;
    height: 125px;
    min-height: 125px;
    background-color: #ff0000;
}

.big {
    width: 100%!important;
    height: 300px;
}