/*-----------------*/
/*   MASTER FILE   */
/*-----------------*/

/* Styles affecting elements */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'wire one', serif;
    font-weight: normal;
}

a, a:visited, a:link {
    color: #199156;
}

a:hover {
    color: #0f5734;
}


/*----------------*/
/*   HEADER CSS   */
/*----------------*/
.header {
    margin: 0;
    padding: 10px;
    background: #199179;
    text-align: center;
    color: #ffffff;
}

/* Title */
.title {
    margin: 1%;
    float: right;
}

.header h1 {
    font-size: 28px;
}

.header h5 {
    font-size: 14px;
}

/* Base Navigation */
.navbar {
    display: flex;
    background: #199179;
}

    .navbar a {
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
    }

        .navbar a:hover {
            background-color: #dddddd;
            color: #000000;
        }

/* Mobile Navigation */
#nav_btn {
    display: none;
}

.menu_icon > .line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fbfbfb;
}

.menu_icon > .line + .line {
    margin-top: 8px;
}



/*---------------------*/
/*   BODY LAYOUT CSS   */
/*---------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

    .main h2 {
        font-size: 24px;
        text-align: center;
    }

    .main p {
        font-size: 14px;
    }

.padder {
    padding: 1% 20% 2% 20%;
}

.spacer {
    margin: 30px auto;
}



/*-------------------*/
/*  SKEWs & COLOURS  */
/*-------------------*/
.colour {
    background-color: #199179;
    color: #ffffff;
}

.white {
    background-color: #ffffff;
    color: #199179;
}

/* Skew Clockwise */
.skew-c {
    left: 0;
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(to left bottom, #fff 49%, #199179 50%);
}

/* Skew Counter Clockwise */
.skew-cc {
    left: 0;
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right bottom, #199179 49%, #fff 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}



/*----------------*/
/*   FOOTER CSS   */
/*----------------*/
.footer {
    margin-top: auto;
    background: #199179;
    background: -moz-linear-gradient(top, #199179 0%, #0f5748 100%);
    background: -webkit-linear-gradient(top, #199179 0%, #0f5748 100%);
    background: linear-gradient(to bottom, #199179 0%, #0f5748 100%);
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}

    .footer h4 {
        font-style: italic;
    }

    .footer a {
        color: #ffffff;
    }

    .footer img {
        height: 50px;
    }

/* Layout */
.footer_main {
    flex: 70%;
    padding: 20px;
}

.footer_side {
    flex: 30%;
    padding: 20px;
}



/*-------------------*/
/*   SLIDESHOW CSS   */
/*-------------------*/
.slideshow {
    margin: 20px auto;
    padding: 0;
    position: relative;
    max-width: 678px;
    overflow: hidden;
}

    .slideshow img {
        width: 100%;
    }

.slide {
    animation: slideIt 1s ease-out 0s 1 normal none;
}

@keyframes slideIt {
    0% {
        opacity: .5;
        transform: translateX(750px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



/*--------------------*/
/*   @MEDIA QUERIES   */
/*--------------------*/
@media (max-width: 700px) {
    /* Navigation */
    .navbar a {
        display: none;
    }

    #nav_btn {
        display: block;
    }

    .row, .navbar {
        flex-direction: column;
    }
}

@media (min-width: 701px) {
    /* Navigation */
    .navbar a {
        display: block;
    }

    #nav_btn {
        display: none;
    }

    .row, .navbar {
        flex-direction: row;
    }
}
